
.min-h-screen {
    min-height: 100vh;
}


.login-container {
    z-index: 10; /* Garantir que o formulário de login fique em cima da imagem de fundo */
}


.login-form-container {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem; /* Ajuste da margem */
}